[Container]
ContainerName=guacd
Image=docker.io/guacamole/guacd:latest
Volume={{INSTALL_DIR}}/guacd:/etc/guacamole:Z,U

Network=appnet

[Service]
Restart=always

[Install]
WantedBy=default.target
