[Unit]
Description=Heimdall container
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=heimdall
Image=lscr.io/linuxserver/heimdall:latest
Network=appnet

Volume={{INSTALL_DIR}}/heimdall/config:/config:Z,U

Environment=TZ=America/New_York

[Service]
Restart=always

[Install]
WantedBy=default.target