[Container]
ContainerName=npmplus
Image=docker.io/zoeyvid/npmplus:latest
PublishPort=443:443
PublishPort=81:81
Volume={{INSTALL_DIR}}/npmplus:/data:Z,U
Environment=TZ=America/New_York
Network=appnet

[Service]
Restart=always

[Install]
WantedBy=default.target