[Container]
ContainerName=pgadmin
Image=docker.io/dpage/pgadmin4:latest
Volume={{INSTALL_DIR}}/pgadmin/data:/var/lib/pgadmin:Z,U

Environment=PGADMIN_DEFAULT_EMAIL={{PGADMIN_DEFAULT_EMAIL}}
Environment=PGADMIN_DEFAULT_PASSWORD={{PGADMIN_DEFAULT_PASSWORD}}
Environment=PGADMIN_DISABLE_POSTFIX=true

Network=appnet

[Service]
TimeoutStartSec=120
Restart=always

[Install]
WantedBy=default.target
