[Unit]
Description=pgadmin container
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=pgadmin
Image=docker.io/dpage/pgadmin4:latest
Network=appnet

Volume={{INSTALL_DIR}}/pgadmin/data:/var/lib/pgadmin:Z,U

Environment=PGADMIN_DEFAULT_EMAIL={{PGADMIN_DEFAULT_EMAIL}}
Environment=PGADMIN_DEFAULT_PASSWORD={{PGADMIN_DEFAULT_PASSWORD}}
Environment=PGADMIN_DISABLE_POSTFIX=true

[Service]
TimeoutStartSec=120
Restart=always

[Install]
WantedBy=default.target
