[Unit]
Description=Pi-hole DNS Server
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=pihole
Image=docker.io/pihole/pihole:latest
Volume={{INSTALL_DIR}}/pihole:/etc/pihole:Z,U

# Because the "Appnet" podman network as DNS enabled port 53 is already bound
# Specify the local hosts IP Address to bind 53 to that IP
PublishPort={{HOST_IP_ADDRESS}}:53:53/tcp
PublishPort={{HOST_IP_ADDRESS}}:53:53/udp
PublishPort=8080:80

# Environment
Environment=TZ=America/New_York
Environment=FTLCONF_webserver_api_password={{PIHOLE_WEB_PASSWORD}}
Environment=FTLCONF_dns_listeningMode=all

HealthCmd=["CMD-SHELL", "dig +short +norecurse +retry=0 @127.0.0.1 pi.hole || exit 1"]
HealthInterval=30s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s

[Service]
Restart=always
RestartSec=5
NoNewPrivileges=true

[Install]
WantedBy=default.target