[Unit]
Description=Password Pusher container
Requires=container-postgresql.service
After=container-postgresql.service network-online.target
Wants=network-online.target

[Container]
ContainerName=pwpush
Image=docker.io/pglombardo/pwpush:latest
Volume={{INSTALL_DIR}}/pwpush/storage:/opt/PasswordPusher/storage:Z,U
Network=appnet

# RequiresPostgres:
Environment=DATABASE_URL=postgresql://{{PWPUSH_DB_USER}}:{{PWPUSH_DB_PASSWORD}}@postgresql:5432/{{PWPASS_DB_NAME}}
Environment=PWP__ENABLE_LOGINS=true
Environment=PWP__MAIL__RAISE_DELIVERY_ERRORS=false
Environment=PWP__HOST_DOMAIN={{PWPUSH_DOMAIN}}
Environment=PWP__HOST_PROTOCOL=https
Environment=PWP__ENABLE_FILE_PUSHES=true
Environment=PWP__FILES__STORAGE=local
Environment=PWP__FILES__EXPIRE_AFTER_DAYS_DEFAULT=2
Environment=PWP__FILES__EXPIRE_AFTER_DAYS_MAX=7
Environment=PWP__FILES__EXPIRE_AFTER_VIEWS_DEFAULT=5
Environment=PWP__FILES__EXPIRE_AFTER_VIEWS_MAX=10
Environment=PWP__FILES__RETRIEVAL_STEP_DEFAULT=true
Environment=PWP__ENABLE_URL_PUSHES=true
Environment=PWP__DISABLE_SIGNUPS=true

[Service]
Restart=always

[Install]
WantedBy=default.target